search --no-floppy --set=root --file /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts

insmod all_video
set gfxmode=auto
set gfxpayload=keep
if [ -e /boot/grub/fonts/unicode.pf2 ]; then
  loadfont /boot/grub/fonts/unicode.pf2
fi
set theme=/boot/grub/themes/xos/theme.txt
set timeout=30
set default="0"

menuentry "Boot X OS (x86_64)" --class arch --class gnu-linux --class gnu --class os {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet plymouth.enable=0
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
}

menuentry "Boot X OS (nomodeset)" --class arch --class gnu-linux --class gnu --class os {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet plymouth.enable=0 nomodeset
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
}

menuentry "Boot X OS (verbose/debug)" --class arch --class gnu-linux --class gnu --class os {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% plymouth.enable=0
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
}
